.strata-type-faction a {
    display: inline-block;
    background-color: black;
    border-radius: 128px;
    vertical-align: middle;
}

.strata-type-faction a:hover {
    background-color: white;
}

.strata-type-faction a.media img.media {
    margin: 2px;
    padding: 0;
}
